.not-seen {
    display: none;
}

.seen {
    display: block;
}

.navSeen {
    background-color: var(--grey50);
    border-radius: 1rem;
    border: 0.2rem solid red;
    display: block;
    text-align: center;
    transition: 5s;
    position: fixed;
    margin-left: 0.6rem;
    z-index: 2;
}

.spanNotSeen {
    display: none !important;
}
                
.spanRotateUn {
    rotate: 45deg;
    transform: translateY(0.2rem);
    transform: translateX(0.2rem);
}
                
.spanRotateDeux {
    rotate: 135deg;
    transform: translateY(-0.2rem);
    transform: translateX(-0.2rem);
}

.active {
    color: var(--primary);
}

.btn {
    border-radius: 0.8rem;
    padding: 0.2rem 0.4rem;
    &-primary {
        border: 0.2rem solid var(--primary);
        background-color: var(--divider);
        color: white;
    }
    &-secondary {
        border: 0.2rem solid var(--dark);
        background-color: var(--desert);
        color: white;
    }
    &-danger {
        border: 0.2rem solid black;
        background-color: red;
        color: white;
    }
    &-submit {
        border: 0.2rem solid var(--accent);
        background-color: var(--dark);
        color: white;
    }
}

.underline {
    background-color: white;
    width: 50vw;
    @include l {
        width: 30vw;
    }
    @include xl {
        width: 15vw;
        margin: 1.4rem auto 1.6rem auto;
    }
    @include xxl {
        width: 15vw;
    }
    height: 0.4rem;
    display: block;
    margin: 0.8rem auto 1rem auto;
}

.underlineHeader {
    background-color: white;
    width: 80vw;
    height: 0.4rem;
    display: block;
    margin: 0rem auto 1.8rem auto;
}