:root {
    --primary: #706fd3;
    --dark: #2c2c54;
    --accent: #474787;
    --text: #d1ccc0;
    --divider: #84817a;
    --grey50:rgb(68, 68, 67)a;
    --desert: #ccae62;
    --spring-splash: #218c74;
    --chilean-fire: #cd6133;
    --font-family: 'Roboto', 'Segoe UI',sans-serif;
    --box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}


/* https: //flatuicolors.com/palette/es */