@import './media-queries';

.content {
    width: 80vw;
    margin: 3rem  auto;
    h1 {
        text-align: center;
        font-size: 180%;
        text-decoration: underline;
        color: var(--accent);
        @include xl {
            font-size: 300%;
        }
        @include xxl {
            font-size: 500%;
        }
    }
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
        .form-control {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
            margin: 1rem auto;
            label {
                margin-bottom: 0.4rem;
                @include xl {
                    font-size: 160%;
                }
                @include xxl {
                    font-size: 300%;
                }
            }
            select {
                text-align: center;
                @include xs {
                    width: 15rem;
                    height: 2rem;
                }
                @include md {
                    width: 20rem;
                    height: 3rem;
                }
                @include l {
                    width: 25rem;
                    height: 4rem;
                }
                @include xl {
                    width: 30rem;
                    height: 4.5rem;
                }
                @include xxl {
                    width: 40rem;
                    height: 5rem;
                }
            }
            #content {
                    border-radius: 1rem;
                @include xs {
                    width: 23rem;
                    height: 20rem;
                }
                @include md {
                    width: 35rem;
                    height: 20rem;
                    font-size: 100%;
                }
                @include l {
                    width: 40rem;
                    height: 30rem;
                    font-size: 120%;
                }
                @include xl {
                    width: 40rem;
                    height: 40rem;
                    font-size: 140%;
                }
                @include xxl {
                    width: 50rem;
                    height: 70rem;
                    font-size: 180%;
                }

            }
            #title {
                    border-radius: 1rem;
                @include xs {
                    height: 2rem;
                    width: 15rem;
                }
                @include md {
                    height: 3rem;
                    width: 25rem;
                    font-size: 150%;
                }      
                @include l {
                    height: 4rem;
                    width: 30rem;
                    font-size: 180%;
                }
                @include xl {
                    height: 4rem;
                    width: 35rem;
                    font-size: 200%;
                }
                @include xxl {
                    height: 5rem;
                    width: 50rem;
                    font-size: 250%;
                }
            }

        }
        .actions {
            margin-top: 0.6rem;
            @include xl {
                a {
                    font-size: 160%;
                    margin: 0 0.3rem;
                    padding: 0 0.4rem;
                }
                button {
                    font-size: 160%;
                    margin: 0 0.3rem;
                    padding: 0 0.4rem;
                }
            }
            @include xxl {
                a {
                    font-size: 250%;
                    margin: 0 0.4rem;
                    padding: 0 0.6rem;
                }
                button {
                    font-size: 250%;
                    margin: 0 0.4rem;
                }
            }
        }
    }
}