@import './variables';
@import './media-queries';

.container-index {
    .header-personnal {
        h6 {
            font-size: 180%;
            text-align: center;
            display: block;
            margin: 2rem auto 0 auto;
            padding: 0.5rem 1rem 0.5rem 1rem;
            color: var(--dark);
            @include xl {
                font-size: 260%;
            }
            @include xxl {
                font-size: 350%;
            }
            a {
                color: var(--dark);
            }
        }
    }
    .articles {
        display: block;
        @include l {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        @include xl {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        @include xxl {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
        margin: 0.6rem auto;
        padding: 0 3rem;
        .article {
            @include l {
                margin: 1.2rem 0.8rem;
                padding: 1.2rem 1rem;
            }
            @include xl {
                margin: 1.2rem 1.2rem;
                padding: 1.2rem 1rem;
            }
            @include xxl {
                margin: 1.2rem 1.6rem;
                padding: 3rem 4rem;
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 1.2rem auto;
            padding: 1.2rem 0.5rem;
            border: 0.15rem solid var(--primary);
            border-radius: 1.5rem;
            h3 {
                text-align: center;
                text-decoration: underline;
                margin-bottom: 0.3rem;
                color: var(--chilean-fire);
                @include xxl {
                    font-size: 270%;
                }
            }
            h4 {
                text-align: center;
                font-size: 100%;
                margin: 0.3rem auto;
                @include xl {
                    font-size: 120%;
                }
                @include xxl {
                    font-size: 200%;
                }
            }
            h5 {
                text-align: center;
                font-size: 80%;
                margin: 0.3rem auto;
                @include xl {
                    font-size: 100%;
                }
                @include xxl {
                    font-size: 160%;
                }
            }
            p {
                text-align: center;
                line-height: 2.4rem;
                @include xl {
                    font-size: 100%;
                }
                @include xxl {
                    font-size: 180%;
                }
            }
        }
    }
}