@import './variables';
@import './media-queries';

body {
    min-height: 100vh;
    .login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h4 {
            margin-top: 8rem;
            color: var(--chilean-fire);
        }
        form {
            .form-control {
                label {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                            
                }
                input {
                    margin-top: 0.6rem;
                    width: 25rem;
                    height: 3rem;
                                    
                    &::placeholder {
                        text-align: center;
                    }
                }
            }

            .btn-submit {
                display: block;
                margin: 2rem auto 0 auto;
            }
        }
        a {
            margin-top: 2rem;
        }

    }
}