@import "./variables";
@import "./reset";
@import "./utils";
@import "./media-queries";
@import "./base";
@import "./classes";

body {
    header {
        background: linear-gradient(90deg, var(--dark) 16%, var(--primary) 85%);
        padding-bottom: 1rem;
        border: 0.15rem solid red;
        border-radius: 1rem;
        h1 {
            text-align: center;
            color: var(--spring-splash);
            margin-bottom: 1rem;
            a {
                color: unset;
            }
        }
        .log {
            position: absolute;
            right: 1rem;
            a {
                color: var(--desert);
                cursor: grab;
                i {
                    margin: 0 1rem;
                }
                &:hover {
                    border: 0.2rem solid var(--primary);
                    border-radius: 0.5rem;
                    background-color: white;
                    color: var(--chilean-fire);
                }
            }
        }
        #menuBurger {
            @include xs {
                display: block;
                margin: 0.6rem 2rem;
            }
            @include sm {
                display: none;
            }
            @include md {
                display: none;
            }
            @include xl {
                display: none;
            }
            span {
                display: block;
                margin: 0.2rem;
                min-height: 0.2rem;
                max-width: 1.5rem;
                background-color: white;
            }
        }
        nav {
            @include xs {
                display: none;
            }
            li {
                margin: 0.3rem auto;
                max-width: 9rem;
                padding-bottom: 0.2rem;
                padding: 0.4rem;
            }
        }
    }
}